@import "../../../styles//index";

.loginContent--container {
  @include flex(center, center, column);
  margin: 0 auto;
  max-width: 100vw;
  width: 60%;

  h1 {
    font-family: $font-family--default;
    font-size: $font-size--big;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-family: $font-family--default;
    font-size: $font-size--subtitle;
    padding: 0 0 20px 0;
    font-weight: lighter;
    text-align: center;
    span {
      font-weight: bold;
    }
  }
}
