@import "../../../styles/index";

form {
  width: 100%;
  padding: 20px 0;

  .ant-row,
  .ant-form-item {
    width: 100%;

    .ant-col,
    .ant-form-item-label {
      label {
        width: 100%;
        text-align: left;
        color: $color-gray--light;
        padding-left: 8px;
      }
    }

    .ant-form-item-control {
      padding: 15px 0;
    }

    .ant-col,
    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $color-gray--light;
            border-radius: none;
            color: $color-gray--light;
            padding: 5px;

            &::placeholder {
              color: $color-gray--light;
              font-weight: lighter;
              padding: 5px;
            }
          }
        }
      }

      .ant-form-item-explain,
      .show-help-enter,
      .show-help-enter-active,
      .show-help {
        div {
          color: red;
          font-size: $font-size--medium;
          padding: 8px;
        }
      }
    }
  }

  .formLogin--btn {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    @include flex(center, space-between, row);

    span {
    }

    a {
      border-bottom: 1px solid $color-gray--light;
      padding-bottom: 5px;
    }

    .ant-btn,
    .ant-btn-primary {
      cursor: pointer;
      border: 0.5px solid $color-gray--light;
      text-align: center;
      padding: 8px 15px;
      border-radius: 5px;
      background-color: $white;
      color: $color-gray--light;

      .ant-btn-loading-icon {
        display: none;
      }

      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}
